<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ffaid.mapper.UrgentTelMapper">
    <select id="findUserTel" resultType="com.example.ffaid.domain.UrgentTel">
        select * from urgentTel
        where userId=#{userId}
    </select>

    <select id="findTel" resultType="com.example.ffaid.domain.UrgentTel">
        select * from urgentTel
        where id=#{id}
    </select>

    <update id="updateTel" parameterType="com.example.ffaid.domain.UrgentTel">
        update urgentTel
        <set>
            <if test="urgentTel!=null">
                urgentTel=#{urgentTel},
            </if>
            <if test="describ!=null">
                describ=#{describ}
            </if>

        </set>
    </update>

    <insert id="createTel" parameterType="com.example.ffaid.domain.UrgentTel">
        insert into urgentTel(userId,urgentTel,describ,addtime,deleted)
        values(#{userId},#{urgentTel},#{describ},current_timestamp ,0)
    </insert>

    <update id="deleteTel">
        update urgentTel set deleted=1
    </update>


</mapper>
